In [308]:
#Dolev Sakat 312521172
#Shir Talbi 319087698


import requests
import pandas as pd
df=pd.read_csv('C:/temp/destinations_LP_crawler_Ex5.csv',encoding='latin-1')
df_new = pd.DataFrame(df["city"])

li=[]
#Fake key
key= 'SHAIzaSyCPXCH2b5fdeQsgvtuTVbgST14F8BK8vjkIR'
for i in range(len(df)):
    try:
        url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (df.loc[i,'city'],key)
        response = requests.get(url)
        response = requests.get(url).json()
        leng=len((response["results"][0]["address_components"]))-1
        try:
            a=int((response["results"][0]["address_components"][leng]["long_name"]).split()[0])
            li.append(response["results"][0]["address_components"][leng-1]["long_name"])
        except:
            li.append(response["results"][0]["address_components"][leng]["long_name"])

    except:
            url = "https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (df.loc[i,'city_LP'],key)
            response = requests.get(url)
            response = requests.get(url).json()
            leng=len((response["results"][0]["address_components"]))-1
            try:
                a=int((response["results"][0]["address_components"][leng]["long_name"]).split()[0])
                li.append(response["results"][0]["address_components"][leng-1]["long_name"])
            except:
                li.append(response["results"][0]["address_components"][leng]["long_name"])

In [314]:

#print (li)

df_new['country']=li

#df_new

In [315]:
li2=[]
import requests
from bs4 import BeautifulSoup
for j in range(len(df)):
    try:
        url2="https://www.lonelyplanet.com/"+df_new.loc[j,'country']+"/"+df.loc[j,'city_LP']
        html= requests.get(url2)
        soup = BeautifulSoup(html.content,'html.parser')
        sec=soup.find('section', {'id' : "introduction"})
        #print(j, df.loc[j,'city'])
        #print(sec.find('p').text)
        li2.append(sec.find('p').text)
    except:
        url2="https://www.lonelyplanet.com/"+'USA'+"/"+df.loc[j,'city_LP']
        html= requests.get(url2)
        soup = BeautifulSoup(html.content,'html.parser')
        sec=soup.find('section', {'id' : "introduction"})
        #print(sec.find('p').text)
        li2.append(sec.find('p').text)

In [312]:
df_new['country']=li
df_new['Description']=li2
df_new

         city      country                                        Description
0     Antalya       Turkey  Once seen simply as the gateway to the Turkish...
1      Athens       Greece  With equal measures of grunge and grace, Athen...
2   Ayia-napa       Cyprus  Endless blue-sky days and a coastline riddled ...
3     Bangkok     Thailand  Same same, but different. This Thailish T-shir...
4   Barcelona        Spain  Barcelona is an enchanting seaside city with b...
..        ...          ...                                                ...
71     Venice        Italy  Imagine the audacity of building a city of mar...
72     Vienna      Austria  Baroque streetscapes and imperial palaces set ...
73     Warsaw       Poland  A phoenix arisen from the ashes, Poland's capi...
74  Zakynthos       Greece  Zakynthos, also known by its Italian name Zant...
75     Zurich  Switzerland  Culturally vibrant, efficiently run and attrac...

[76 rows x 3 columns]

'https://www.lonelyplanet.com/United States/Boston'